html, body {
	background: #ee3b17;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(11, 11, 11);
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5em;
	padding: 2.5% 2.5% 0 2.5%;
	background: rgba(116, 240, 236, 0.936);
	line-height: 1.8;
}
h1 {
	font: 3.0em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: rgb(10, 10, 10);
}
h2 {
	font: 1.5em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(244, 19, 165);
}
a:hover {
	color: rgb(55, 120, 83);
}
pre {
	font-size: 1.4em;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid #A68048;
	background: #666;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 80%;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dl {
	margin-bottom: 5em;
	padding-bottom: 5em;
}
dt {
	font-size:1.2em;
}
dd {
	margin: 0;
}
table {
	margin-top: 1em;
	margin-bottom: 2em;
}

td, th {
	text-align: center;
	padding: 10px;
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
aside {
	padding: 1em;
	background:rgb(83, 104, 138);
	color: white;
	margin-bottom: 1em;
}
aside h4 {
	color: white;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
blockquote {
	font-style: italic;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}